*{
    text-align: center;
}
body {background-color: black; color:white}

.cell {width:40px; height:40px;text-align: center}
.cell img {width:25px; height:auto}
.floor {background-color: gray}
.wall {background-color: brown}
.h2 {color: white;}

.you_win{
    display: none;
}

.Restart_btn {
    display: none;
    margin: auto;
    
}

.board{
    display: inline-block;
    box-sizing: content-box;
}



